/*ヘッダーここから*/
.header {
    &-inner {
        width: 85vw;
        margin: 2vw auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .logo {
            h1 {
                a {
                    color: #029ae2;
                    font-size: 7vw;
                    &:hover {
                        opacity: 0.7;
                    }
                    span {
                        color: #30d0ed;
                    }
                }
            }
        }
        .header-menu {
            display: none;
        }
        .link {
            box-sizing: border-box;
            width: 7vw;
            height: 7vw;
            a {
                box-sizing: border-box;
                width: 7vw;
                height: 7vw;
                &:hover {
                    opacity: 0.7;
                }
                .line0 {
                    width: 7vw;
                    height: 1.5vw;
                    background-color: #48bac2;
                }
                .line {
                    width: 7vw;
                    height: 1.5vw;
                    background-color: #48bac2;
                    margin-top: 1.25vw;
                }
            }
        }
    }
}
.top-page {
    width: 100%;
    background-image: url(../images/backgrand.png);
    text-align: center;
    padding: 10vw 0 14vw 0;
    color: #ffffff;
    font-family: Cormorant Garamond;
    h2 {
        font-size: 9vw;
        font-weight: normal;
        line-height: 7.4vw;
    }
    & p {
        font-size: 1.5vw;
        padding-top: 3.2vw;
        letter-spacing: 0.2vw;
    }
}
.news {
    background-color: #edfcff;
    padding: 4vw 0;
    .main-news {
        width: 75vw;
        margin: 0 auto;
        justify-content: space-between;
        .news-logo {
            h3 {
                font-family: open sans;
                color: #029ae2;
                font-size: 2.5vw;
                padding: 0 0 2vw 0;
                text-align: center;
            }
            a {
                display: none;
            }
        }
    }
    .news-information {
        display: flex;
        justify-content: center;
        ul {
            list-style: none;
            &.pc {
                display: none;
            }
            li {
                display: flex;
                width: 60vw;
                height: 3.5vw;
                align-items: center;
                font-size: 1vw;
                border-bottom: solid 1px #30d0ed;
                span {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 0.9vw;
                    margin: 0 4vw;
                    width: 7vw;
                    height: 2.5vw;
                    background-color: #029ae2;
                    color: #ffffff;
                }
                a {
                    display: flex;
                    font-size: 0.7vw;
                    color: #000;
                    height: 3.5vw;
                    align-items: center;
                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}
.service {
    text-align: center;
    padding-top: 7vw;
    .service-description {
        h3 {
            font-family: open sans;
            color: #029ae2;
            font-size: 2.5vw;
            padding-bottom: 0.3vw;
        }
        p {
            color: #029ae2;
            font-size: 1vw;
        }
        .box {
            width: 60vw;
            margin: 0 auto;
            height: 30vw;
            justify-content: space-between;
            .block {
                width: 60vw;
                background-color: #e8e8e8;
                height: 30vw;
                margin-top: 3vw;
            }
        }
    }
}