@charset "UTF-8";
/*ヘッダーここから*/
.header-inner {
  width: 85vw;
  margin: 2vw auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-inner .logo h1 a {
  color: #029ae2;
  font-size: 7vw;
}

.header-inner .logo h1 a:hover {
  opacity: 0.7;
}

.header-inner .logo h1 a span {
  color: #30d0ed;
}

.header-inner .header-menu {
  display: none;
}

.header-inner .link {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 7vw;
  height: 7vw;
}

.header-inner .link a {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 7vw;
  height: 7vw;
}

.header-inner .link a:hover {
  opacity: 0.7;
}

.header-inner .link a .line0 {
  width: 7vw;
  height: 1.5vw;
  background-color: #48bac2;
}

.header-inner .link a .line {
  width: 7vw;
  height: 1.5vw;
  background-color: #48bac2;
  margin-top: 1.25vw;
}

.top-page {
  width: 100%;
  background-image: url(../images/backgrand.png);
  text-align: center;
  padding: 10vw 0 14vw 0;
  color: #ffffff;
  font-family: Cormorant Garamond;
}

.top-page h2 {
  font-size: 9vw;
  font-weight: normal;
  line-height: 7.4vw;
}

.top-page p {
  font-size: 1.5vw;
  padding-top: 3.2vw;
  letter-spacing: 0.2vw;
}

.news {
  background-color: #edfcff;
  padding: 4vw 0;
}

.news .main-news {
  width: 75vw;
  margin: 0 auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.news .main-news .news-logo h3 {
  font-family: open sans;
  color: #029ae2;
  font-size: 2.5vw;
  padding: 0 0 2vw 0;
  text-align: center;
}

.news .main-news .news-logo a {
  display: none;
}

.news .news-information {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.news .news-information ul {
  list-style: none;
}

.news .news-information ul.pc {
  display: none;
}

.news .news-information ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 60vw;
  height: 3.5vw;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1vw;
  border-bottom: solid 1px #30d0ed;
}

.news .news-information ul li span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 0.9vw;
  margin: 0 4vw;
  width: 7vw;
  height: 2.5vw;
  background-color: #029ae2;
  color: #ffffff;
}

.news .news-information ul li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0.7vw;
  color: #000;
  height: 3.5vw;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.news .news-information ul li a:hover {
  text-decoration: underline;
}

.service {
  text-align: center;
  padding-top: 7vw;
}

.service .service-description h3 {
  font-family: open sans;
  color: #029ae2;
  font-size: 2.5vw;
  padding-bottom: 0.3vw;
}

.service .service-description p {
  color: #029ae2;
  font-size: 1vw;
}

.service .service-description .box {
  width: 60vw;
  margin: 0 auto;
  height: 30vw;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.service .service-description .box .block {
  width: 60vw;
  background-color: #e8e8e8;
  height: 30vw;
  margin-top: 3vw;
}
/*# sourceMappingURL=codingtask3.css.map */