@charset "UTF-8";

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
    text-decoration: none;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

header {
    background-color: #fff5fe;
}

html {
    font-size: 100%;
}

body {
    font-family: Noto Sans CJK JP;
}

/*ヘッダーここから*/

header {
    background-color: #fff5fe;
}

.header-logo {
    display: flex;
    width: 100%;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 7vw 25px;
}

.logo {
    font-size: 8vw;
    line-height: 7vw;
}

.logo a {
    color: #48bac2;
}

.logo a:hover {
    opacity: 0.7;
}

.header-menu {
    display: none;
}

.link {
    box-sizing: border-box;
    width: 7vw;
    height: 7vw;
    position: relative;
}

.link a {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    width: 7vw;
    height: 7vw;
}

.line {
    width: 7vw;
    height: 1.5vw;
    background-color: #48bac2;
}

.line::after {
    position: absolute;
    content: "";
    width: 7vw;
    height: 1.5vw;
    background-color: #48bac2;
    transform: translateY(-3vw);
}

.line::before {
    position: absolute;
    content: "";
    width: 7vw;
    height: 1.5vw;
    background-color: #48bac2;
    transform:translateY(3vw);
}

.rotate {
    transform: rotate(45deg);
}

.rotate::after {
    transform: rotate(90deg)translateY(0);
}

.rotate::before {
    transform: rotate(90deg)translateY(0);
}

.lorem-ipsum {
    box-sizing: border-box;
    padding: 8vw 25px;
    background-color: #c2c2c2;
    width: 100%;
    text-align: center;
}

.first-main {
    color: #fff5fe;
}

.first-main h2 {
    font-size: 5.5vw;
    font-weight: normal;
    padding-bottom: 3vw;
}

.fmpc {
    display: none;
}

.fmph {
    font-size: 3vw;
    letter-spacing: 0.2vw;
    line-height: 4vw;
}

.greeting {
    background-image: url(../images/gradation.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    text-align: center;
    box-sizing: border-box;
    padding: 8vw 25px;
}

.second-main h2 {
    color: #48bac2;
    font-size: 5.5vw;
    font-weight: normal;
    padding-bottom: 3vw;
}

.smpc {
    display: none;
}

.smph {
    font-size: 3vw;
    letter-spacing: 0.2vw;
    line-height: 4vw;
}

.menu {
    background-color: #fff5fe;
    width: 100%;
}

.main-menu {
    width: 100%;
}

.one-menu {
    padding: 10vw 0;
    margin: 0 auto;
    text-align: center;
}

.block {
    width: 70vw;
    height: 50vw;
    background-color: #c2c2c2;
    margin: 0 auto;
    margin-bottom: 6vw;
}

.one-menu p {
    font-size: 3vw;
    line-height: 5vw;
    text-align: center;
}

.more {
    position: relative;
    width: 42vw;
    height: 10vw;
    display: flex;
    margin: 0 auto;
    margin-top: 2vw;
    background-color: #ff7385;
}

.one-menu a {
    display: flex;
    width: 42vw;
    height: 10vw;
    justify-content: center;
    color: #fff5fe;
    align-items: center;
    font-size: 3vw;
    font-family: noto sans cjk jp;
}

.one-menu a::before{
    content: "";
    position: absolute;
    right: 3vw;
    width: 1.8vw;
    height: 1.8vw;
    border-top: 0.5vw solid #fff5fe;
    border-right: 0.5vw solid #fff5fe;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.one-menu a::after{
    content: "";
    position: absolute;
    right: 4.5vw;
    width: 1.8vw;
    height: 1.8vw;
    border-top: 0.5vw solid #fff5fe;
    border-right: 0.5vw solid #fff5fe;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.information {
    background-color: #c2c2c2;
}

.left-side {
    display: none;
}

.right-side {
    display: none;
}

.phone-information {
    padding: 8vw 0;
}

.phone-information p {
    color: #48bac2;
    text-align: center;
    font-size: 5vw;
    padding-bottom: 7vw;
}

.border00 {
    width: 100%;
    border-top: #48bac2 solid 2px;
}

.border1 {
    width: 100%;
    border-top: #48bac2 solid 2px;
    border-bottom: #48bac2 solid 2px;
}

.address {
    display: flex;
    width: 100%;
    height: 8vw;
    background-color: #fff5fe;
    box-sizing: border-box;
    padding:0 25px;
}

.address a {
    display: flex;
    width: 100%;
    height: 8vw;
    font-size: 4vw;
    align-items: center;
    color: #010c21;
}

.three-border {
    box-sizing: border-box;
    width: 7vw;
    height: 7vw;
}

.a-border0 {
    width: 7vw;
    height: 1.5vw;
    background-color: #48bac2;
    margin-top: 0.2vw;
}

.a-border {
    width: 7vw;
    height: 1.5vw;
    background-color: #48bac2;
    margin-top: 1.5vw;
}

footer {
    width: 100%;
    background-image: url(../images/graduation2.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.footer0 {
    padding: 10vw 0;
}

.footer-information h2 {
    text-align: center;
    font-family: noto sans cjk jp;
    font-size: 8vw;
    color: #fff5fe;
    padding-bottom: 6vw;
}

.footer-information ul {
    list-style: none;
    text-align: center;
    color: #fff5fe;
    font-family: noto sans cjk jp;
    font-size: 3vw;
    padding-bottom: 5vw;
}

.footer-information li {
    padding-bottom: 3vw;
}

.access {
    width: 50vw;
    height: 13vw;
    margin: 0 auto;
}

.access a {
    width: 50vw;
    height: 13vw;
}

.access img {
    width: 50vw;
    height: 13vw;
}

.menu-nav {
    font-size: 0;
    width: 70vw;
    margin: 0 auto;
}

.menu-nav ul {
    display: flex;
    width: 60vw;
    list-style: none;
    margin: 8vw auto;
    font-family: noto sans cjk jp;
    font-size: 2vw;
    justify-content: space-between;
}

.menu-nav li {
    display: flex;
    justify-content: center;
}

.menu-nav a {
    display: flex;
    width: 10vw;
    color: #fff5fe;
    justify-content: center;
}

.border {
    border-right: solid 1px #fff5fe;
}

.footer0 p {
    text-align: center;
    color: #fff5fe;
    font-family: noto sans cjk jp;
    font-size: 2vw;
}