@charset "UTF-8";

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
    text-decoration: none;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

/*ヘッダーここから*/

header {
    background: linear-gradient(100deg, #ffe001 0%, #ffe001 65%, #ebe9ac 65%, #ebe9ac 100%);
    position: relative;
    width: 100%;
    height: 1000px;
}

.header-inner {
    width: 1340px;
    margin: 0 auto;
}

.header-logo {
    display: flex;
    justify-content: space-between;
    padding: 42px 0 26px 0;
}

.food4you {
    width: 251px;
    height: 63px;
}

.header-logo a:hover {
    opacity: 0.4;
}

.phone-information {
    display: flex;
    width: 240px;
    height: 53px;
    justify-content: space-between;
    align-items: center;
    padding: 14px 0 6px 0;
}

.phone-information img {
    width: 29px;
    height: 53px;
}

.phone-text {
    font-family: Montserrat;
    font-weight: bold;
    text-align: end;
    color: #000;
    line-height: 27px;
}

.express {
    font-size: 17px;
}

.phone-number {
    font-size: 29.2px;
}

.header-nav {
    display: flex;
    width: 582.26px;
    margin-left: auto;
}

.header-nav ul {
    display: flex;
    width: 582.26px;
    justify-content: space-between;
    list-style: none;
    font-family: montserrat;
    font-size: 17px;
    font-weight: bold;
    letter-spacing: 3px;
}

.header-nav a {
    color: #000;
}

.header-nav a:hover {
    text-decoration: underline;
}

.header-block {
    padding-top: 88px;
    font-family: myriad pro;
    color: #000;
}

.hungry {
    font-size: 55px;
    padding-left: 100px;
    letter-spacing: 2px;
}

.wait {
    font-size: 86px;
    padding: 41px 0 38px 0;
    letter-spacing: 0;
}

.let-start {
    width: 550px;
    font-family: montserrat;
    font-size: 25px;
    font-weight: bold;
    padding-bottom: 42px;
    border-bottom: solid 3px #d6bd31;
    margin-left: 40px;
    letter-spacing: 3.86px;
}

.header-description {
    display: flex;
    width: 315px;
    justify-content: space-between;
    align-items: center;
    margin: 42px 0 41px 150px;
    margin-top: 42px;
    margin-bottom: 41px;
}

.header-text {
    font-size: 15px;
    line-height: 20px;
}

.addition {
    font-size: 50px
}

.header-link {
    width: 227px;
    height: 58px;
    font-size: 21px;
    font-weight: bold;
    font-family: montserrat;
    margin:0 0 158px 175px;
}

.header-link a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 227px;
    height: 58px;
    color: #000;
    border: #000 3px solid;
    background-color: #ffe001;
}

.header-link a:hover {
    filter: invert();
}

.carbonara {
    position: absolute;
    width: 650px;
    right: 100px;
    bottom: 100px;
    border-radius: 50%;
}

.leaf0 {
    position: absolute;
    top: 200px;
    left: 70px;
}

.spaghetti {
    position: absolute;
    bottom: -250px;
    left: 0;
}

.pasta {
    position: absolute;
    top: 200px;
    left: 700px;
}

.tomato {
    position: absolute;
    bottom: 70px;
    left: 650px;
}

.leaf1 {
    position: absolute;
    bottom: 80px;
    right: 60px;
}

/*ヘッダーここまで*/

/*第1ブロックここから*/

.first-block {
    position: relative;
}

.first-block h2 {
    padding: 100px 0 40px 0;
    text-align: center;
    font-size: 50px;
    font-family: myriad pro;
}

.long-description {
    text-align: center;
    font-family: montserrat;
    font-size: 17px;
    line-height: 30px;
}

.green-back {
    width: 100%;
    position: absolute;
    height: 139px;
    top: 400px;
    left: 0;
    z-index: 0;
    background-color: #e8e6a9;
}

.first-main {
    display: flex;
    width: 1340px;
    margin: 0 auto;
    text-align: center;
    margin-top: 40px;
    font-family: montserrat;
    position: absolute;
    left: 75px;
    z-index: 10;
}

.one-block {
    margin-left: 18px;
}

.one-block h3 {
    font-size: 25px;
    margin-bottom: 25px;
}

.one-block p {
    font-size: 17px;
    line-height: 20px;
}

.first-link {
    display: flex;
    margin: 30px 0 150px 0;
    width: 417px;
    height: 60px;
    font-size: 17px;
    font-weight: bold;
    justify-content: center;
}

.first-link a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    background-color: #ffe001;
    height: 60px;
    color: #000;
}

.first-link a:hover {
    filter: invert();
}

/*第1ブロックここまで*/

/*第2ブロックここから*/

.discover {
    text-align: center;
    font-size: 25px;
    font-family: montserrat;
    font-weight: bold;
}

.second-block h2 {
    padding: 15px 0 35px 0;
    text-align: center;
    font-size: 50px;
    font-family: myriad pro;
}

.second-images {
    width: 100%;
    height: 407px;
    display: flex;
    align-items: center;
    margin: 30px 0 50px 0;
}

.food1 {
    width: 404px;
    height: 351px;
}

.food2 {
    width: 674px;
}

.food3 {
    height: 351px;
    width: 403px;
}

.button {
    display: flex;
    justify-content: center;
}

.yellow-button {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #ffe001;
}

.silver-button {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #dcdcdc;
    margin-left: 10px;
}

.second-link {
    display: flex;
    width: 1340px;
    height: 457.28px;
    margin: 0 auto;
    justify-content: space-between;
    margin-top: 120px;
    margin-bottom: 100px;
    font-weight: bold;
    font-family: montserrat;
}

.second-main a {
    display: block;
    width: 650px;
    height: 457.28px;
}

.second-main a:hover {
    opacity: 0.7;
}

.second-main {
    width: 650px;
    height: 457.28px;
    background-image: url(../images/food4.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.food5 {
    width: 650px;
    height: 209.74px;
    background-image: url(../images/food5.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.food5 a {
    display: block;
    width: 650px;
    height: 209.74px;
}

.food5 a:hover {
    opacity: 0.7;
}

.food6 {
    width: 650px;
    height: 209.74px;
    background-image: url(../images/food6.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 37.8px;
}

.food6 a {
    display: block;
    width: 650px;
    height: 209.74px;
}

.food6 a:hover {
    opacity: 0.7;
}

.main-big  {
    padding: 50px 0 20px 50px;
    font-size: 28px;
    color: #ffffff;
}

.main-big1  {
    padding: 30px 0 10px 30px;
    color: #ffffff;
}

.main-small  {
    font-size: 45px;
    margin-left: 50px;
    color: #ffffff;
}

.main-small1 {
    font-size: 45px;
    margin-left: 30px;
    color: #ffffff;
}

/*第2ブロックここまで*/

/*第3ブロックここから*/

.third-block p {
    text-align: center;
    font-size: 25px;
    font-family: montserrat;
    font-weight: bold;
}

.third-block h3 {
    padding: 30px 0 90px 0;
    text-align: center;
    font-size: 50px;
    font-family: myriad pro;
}


.discover {
    text-align: center;
    font-size: 25px;
    font-family: montserrat;
    font-weight: bold;
    margin-top: 850px;
}

.second-block h2 {
    padding: 15px 0 35px 0;
    text-align: center;
    font-size: 50px;
    font-family: myriad pro;
}

.form {
    width: 57%;
    margin: 0 auto;
}

.individual-information {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    font-family: montserrat;
}

.name {
    width: 380px;
    height: 55px;
    font-size: 17px;
    color: #3d3d3d;
    padding-left: 15px;
}

.third-link {
    width: 380px;
    height: 55px;
    font-size: 21px;
    font-weight: bold;
    margin-right: 20px;
}

.third-link a {
    display: flex;
    width: 400px;
    height: 61px;
    color: #000;
    justify-content: center;
    align-items: center;
    background-color: #ffe001;
}

.third-link a:hover {
    filter: invert();
}

/*第3ブロックここまで*/

/*ヘッダーここから*/

footer {
    background-image: url(../images/BG\ Image.png);
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 100px;
}

.final {
    width: 1340px;
    margin: 0 auto;
    padding-top: 66px;
}

.footer-logo {
    padding-bottom: 70px;
}

.main-footer {
    display: flex;
    justify-content: space-between;
    color: #ffffff;
    font-size: 17px;
    font-family: montserrat;
}

.footer-description {
    line-height: 30px;
}

.location a {
    display: flex;
    width: 380px;
    justify-content: space-between;
    align-items: center;
    font-family: montserrat;
    font-size: 17px;
    color: #ffffff;
    box-sizing: border-box;
    margin: 30px 90px 20px 0;
}

.location a:hover {
    opacity: 0.4;
}

.footer-mail a {
    display: flex;
    width: 380px;
    justify-content: space-between;
    align-items: center;
    font-family: montserrat;
    font-size: 17px;
    color: #ffffff;
    box-sizing: border-box;
    margin-right: 90px;
    padding-right: 82px;
}

.footer-mail a:hover {
    opacity: 0.4;
}

.final-footer {
    display: flex;
    padding: 160px 0 100px 0;
    justify-content: space-between;
    font-family: montserrat;
    font-size: 17px;
    color: #ffffff;
}

.final-footer ul {
    display: flex;
    list-style: none;
    width: 200px;
    justify-content: space-between;
}

.final-footer img {
    border-radius: 50%;
}

.final-footer a {
    border-radius: 50%;
}

.final-footer a:hover {
    opacity: 0.5;
}

/*ヘッダーここまで*/